/* .allLinks a{
    background-color:  yellow;
    display: none !important;
} */

a {
    text-decoration: none !important;
    /* color: blue; */
}

a:hover {
    text-decoration: underline !important;
}

#searchItem {
    display: inline-block;
    /* Ensure the search item stays inline */
    margin-left: 15px;
    /* Optional: add some space between the last menu item and the search item */
}

.search-li {
    text-align: end;
}

.search-li ul {
    display: flex;
}

#searchResults li {
    cursor: pointer;
    padding: "2px 5px";
    padding: 1px 8px;
    box-shadow: 1px 0px 2px 1px #9f8d6b;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 15px;
    display: flex;
    width: auto;
}


#searchResults {
    margin-top: 10%;

    height: auto;
    z-index: 1;
}

#searchResults li span {
    font-size: 10px;
    width: 80%;
    text-align: justify;
}


#searchResults li:hover {
    background-color: rgb(208, 204, 195);
    transition: 1s;
}


#searchInput {
    border-radius: 5px;
    padding: 5px;
    border: navajowhite;
    box-shadow: 0px 1px 3px 1px #933012;

    min-height: 44px;
    /* Minimum recommended for touch */


}

.fa-search {
    margin-left: 5px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    transition: 1s;

}



.fa-search:hover {
    transform: scale(1.2);
}

.header-lower {
    height: auto;
}

@media only screen and (min-width: 350px) {

    .logo {
        float: left;
        padding: 15px 0;
        width: 50px;
    }
}

@media (max-width: 1200px) {
    .header-lawer-content {
        display: flex !important;
        /* Show input on mobile */
        justify-content: center !important;
    }

    #searchInput {
        width: 228px;
    }

    .UL {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .UL li {
        padding: 0 15px;
    }

    .logo {
        float: left;
        padding: 15px 0;
        width: 169px;
    }
}




@media (max-width: 955px) {
    .header-lower {
        height: 150px;
    }

    #searchInput {
        display: block;
        /* Show input on mobile */
        width: 228px;
    }

    .UL {
        display: block;
    }

    .header-lawer-content {
        display: block !important;
        /* Show input on mobile */
        /* justify-content: center !important; */
    }

    .search-li {
        text-align: center !important;
        /* padding: 0 10% !important; */
    }

    .search-li input {
        width: 100% !important;
    }
}

@media (max-width: 795px) {
    .search-li {
        text-align: end !important;
        padding: 0 10% !important;
    }

    .search-li input {
        width: 100% !important;
        padding: 1% 0 !important;
        /* padding: 0 10% !important; */
    }
}