
/* .allLinks a{
    background-color:  yellow;
    display: none !important;
} */
 
a{
    text-decoration: none  !important;
    color: blue;
 }

#searchResults li {
    cursor: pointer;
    padding: "2px 5px";
    padding: 1px 8px;
    box-shadow: 1px 0px 2px 1px #9f8d6b;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 15px;
}


#searchResults{
    z-index: 1;
}
#searchResults li:hover {
    background-color: rgb(208, 204, 195);
    transition: 1s;
}






  /* search icon css */

.box{
    position: relative;
    width: 100px;
}


.input {
    padding: 10px;
    /* width: 20px; */
    height: 50px;
 

    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    transition: .5s;
}
/* .box:hover .input{
    background-color: red;
    margin-right:50px ;
    transition: 1s;
}  */

.extended-search {
    width: 300px; /* Adjust width as needed */
    transition: width 0.3s ease; /* Smooth animation */
}

  


.box i{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #514f49;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

